*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden; 
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
}

/* header */
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-container{
    display: flex;
    justify-content: space-around;
    background-color: #252525;
    align-items: center;
    height: 5rem;
    margin-bottom: 3rem;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#logo{
    font-size: 27px;
}
a{
    text-decoration: none;
    color: #fff;
}
.list-items{
    display: flex;
    justify-content: space-between;
}
.list-item-link{
    padding-right: 2em;
    font-size: 16pt;
    cursor: pointer;
    transition: color .5s;
}
.list-item-link:hover{
    color: #c59d5f;
}

/* image gallery */
.image-gallery{
    margin: auto;
    width: 50%;
}
footer{
    background-color: #252525;
    height: 3rem;
    margin-top: 40rem;
    color: #fff;
    width: 100%;
    padding: 2em;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    background-color: #252525;
    align-items: center;
}
.main-header{
    font-size: 18pt;
    font-weight: bolder;
}
fieldset{
    display: flex;
    flex-wrap: wrap;
}
form > legend{
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 10px;
    width: fit-content;
    font-size: 14pt;
    background-color: #777;
    color: #fff;
}
label{
    padding: 5px;
    border: 1px solid transparent;
}
input{
    padding: 5px;
    margin-right: 5px;
}
#submit{
    padding: 5px;
}

/* table */
table{
    margin-top: 2rem;;
    width: 90%;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
table, th, td{
    border: 1px solid #ccc;
    padding: 10px;
}
th{
    background-color: #252525;
    color: #fff;
}
td{
    text-align: center;
}
.main-container:hover #char-container{
    display: none;
}

#char-container{
    width: 30%;
    position: absolute;
    background-color: #fff;
    border: 1px solid #252525;
    box-shadow: 0 0 10px #252525;
    color: #252525;
    font-weight: bold;
    display: none;
}

tr:hover{
    background: #778b8b;
    color: #fff;
    cursor: pointer;
}